---
title: 1967 Mustang restoration project
hero_image: hero-mustang-project.jpg
hero_alt: Day the Mustang was purchased
date: 2015-05-16
date_updated: June 25, 2015
tags: blog
excerpt: I have been restoring a 1967 Mustang Coupe with my father over the years, as time and life allows.
---

p I have been restoring a 1967 Mustang Coupe with my father over the years, as time and life allows. This post will be updated as the build progresses.

h2 Purchase

p This specimen came from the factory with a bench seat, inline 6, and automatic transmission.

= image_gallery "mustang_0001.jpg", "cars"
= image_gallery "mustang_0002.jpg", "cars"
= image_gallery "mustang_0003.jpg", "cars"
= image_gallery "mustang_0004.jpg", "cars"
= image_gallery "mustang_0005.jpg", "cars"
= image_gallery "mustang_0006.jpg", "cars"
= image_gallery "mustang_0007.jpg", "cars"
= image_gallery "mustang_0008.jpg", "cars"
= image_gallery "mustang_0009.jpg", "cars"
= image_gallery "mustang_0010.jpg", "cars"

h2 Cleanup

p The car was sitting in a field for some time, so an initial cleaning with a pressure washer helped remove wasp nests, mud, and any other loose debris.

= image_gallery "mustang_0011.jpg", "cars"
= image_gallery "mustang_0012.jpg", "cars"
= image_gallery "mustang_0013.jpg", "cars"
= image_gallery "mustang_0014.jpg", "cars"
= image_gallery "mustang_0015.jpg", "cars"

h2 Teardown

p The floor pans were rusted through, and the hood, deck lid, fenders, and quarter panels all had their share of oxidation.

= image_gallery "mustang_0016.jpg", "cars"
= image_gallery "mustang_0017.jpg", "cars"
= image_gallery "mustang_0018.jpg", "cars"
= image_gallery "mustang_0019.jpg", "cars"
= image_gallery "mustang_0020.jpg", "cars"
= image_gallery "mustang_0021.jpg", "cars"
= image_gallery "mustang_0022.jpg", "cars"

h2 Rust removal &amp; priming

p The whole car was media blasted (with pecan shells, actually), and any metal that was too far gone was cut away. Rust-prone and tough-to-reach spots were covered in <a href="http://www.rustbullet.com/">Rust Bullet</a> (a rust inhibitor) for future protection, and the entire car was sprayed with primer.

= image_gallery "mustang_0025.jpg", "cars"
= image_gallery "mustang_0026.jpg", "cars"
= image_gallery "mustang_0027.jpg", "cars"
= image_gallery "mustang_0028.jpg", "cars"
= image_gallery "mustang_0029.jpg", "cars"
= image_gallery "mustang_0030.jpg", "cars"
= image_gallery "mustang_0031.jpg", "cars"
= image_gallery "mustang_0032.jpg", "cars"
= image_gallery "mustang_0033.jpg", "cars"

h2 Engine Build

p I was fortunate to build the engine for this car with my grandfather before he passed away. It's a Ford 302 V8 bored .30 over, with Trick Flow heads and intake manifold, and a decent set of headers.

= image_gallery "mustang_engine_001.jpg", "cars"
