<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.njk" %}
        {% if site.env %}
            <!-- capture the CSS content as a Liquid variable -->
            {% set css %}{% include "styles.min.css" %}{% endset %}
            <style>
                {{css | safe}}
            </style>
        {% else %}
            <link rel="stylesheet" href="/static/styles.min.css">
        {% endif %}

        <!-- Try and serve Google Fonts in the most efficent way possible -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap" rel="stylesheet">
    </head>
    <body class="text-black selection:bg-secondary selection:text-white page-{{ title | lower | replace(" ", "-") }}">
        <a href="#main" class="skip-link">Skip to main content</a>
        <div class="bg-primary-400">
            {% include "nav.njk" %}
            <h1 class="text-9xl text-center text-white">{{ h1 }}</h1>
            {% if subtitle %}
                <p class="text-2xl lowercase text-center">{{ subtitle }}</p>
            {% endif %}
        </div>
        <main id="main" class="container mx-auto">
            {{ content | safe }}
        </main>
    </body>
    <script src="/static/app.min.js" defer></script>
</html>