@import 'utils/_tailwind.css';
@import 'utils/_accessibility.css';

a {
	@apply text-brand-primary underline;
}
a[href*="//"]:not([href*="hellojason.net"]) {
  &::after {
    content: "\00A0(\2348)";
    text-decoration: none;
    display: inline-block;
    color: inherit;
  }
}
