@import 'utils/_tailwind.css';
@import 'utils/_accessibility.css';

@layer base {
  a[href*="//"]:not([href*="hellojason.net"]) {
    &::after {
      content: "\00A0(\2348)";
      @apply no-underline;
      display: inline-block;
      color: inherit;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 24px;
  }
  nav a.active {
    @apply underline;
  }
  abbr[title] {
    cursor: help;
  }
  /* Case study content */
  .cs-section {
    @apply p-4 lg:p-20 text-center lg:text-2xl;
    h2 {
      @apply text-5xl mb-8;
    }
  }
  .cs-content {
    @apply mx-auto max-w-4xl;
  }
}
