---
layout: base.njk
title: Page not found
h1: text
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="md:flex md:mx-auto md:max-w-6xl">
    <div class="pb-4 md:pb-0 md:px-5 md:flex-none md:w-1/3 text-center md:text-right">
        {# Page title #}
        <h2 class="sticky top-12 uppercase">404</h2>
    </div>
    <div class="md:px-5 md:flex-none md:w-2/3">
    </div>
</div>
