---
layout: base.njk
title: About me
h1: About me
---

<h2>Work experience</h2>
<p>After graduating college during the 2008 recession, I was fortunate to join a startup IT and hosting company who needed someone to design and build simple websites for their clients. I was essentially an in-house freelancer who did everything from scoping to developing to invoicing. Larger projects eventually came, and I built out an incredible team of young developers, all of us eager to learn and do good work.</p>

<p>I learned so much during my 7 years at that company; navigating stressful deadlines, leading client negotiations, making decisions, and even failing sometimes from inexperienced overcommitment.</p>

<p>Then, WP Engine took a chance on me, allowing me to join their Digital Experience team and help maintain their online properties. My team enables other marketers to build their own web pages for campaigns, supports the sales team through chat and tooling, and encourages customers to self-serve as much as possible. My team is also a major contributor to how the brand itself is presented to the world. I am learning about storytelling, optimizing for conversions, and problem solving.</p>

<p>I am a strategic thinker with technical experience and a passion for creative solutions. I work well as a liaison between what’s important for stakeholders, what’s right for users, and what’s realistic for developers.</p>

<p><strong>Hello, I'm Jason.</strong></p>