---
layout: base.njk
title: Blog
h1: Hello
subtitle: I'm Jason, a designer & website optimizer in Austin, TX
---

<h2>Recent projects</h2>
<article>
    <a href="#">
        <h1>Title of article</h1>
        <p>Excerpt of article goes here.</p>
        <time class="time" datetime="2018-07-07 16:23:00 -0500" pubdate="pubdate"><del class="modified-time">Published July 07, 2018</del>&ensp;Updated August 24, 2019</time>
        <svg class="icon-arrow-downright" xmlns="http://www.w3.org/2000/svg" width="8.4" height="8.5" viewBox="0 0 8.4 8.5"><title>icon-arrow-downright</title><path d="M2.3,8.5,0,6.1H4.5L0,1.6,1.6,0,6.1,4.5V0L8.4,2.3V8.5Z"></path></svg>
    </a>
</article>
