---
title: Text
description: Text
layout: base
tags: case-study
nav: inverse
hero: false
---
<div class="cs-section bg-[#002838] bg-[url('/static/images/projects/wpengine-dxp/dxp-hero.jpg')] bg-cover bg-center text-white relative after:block after:w-full after:h-full after:absolute after:top-0 after:left-0 after:z-0 after:bg-[rgba(0,40,56,.5)]">
  <div class="cs-content z-10 relative">
    <h1 class="text-white"><span class="bg-[rgba(14,202,212,.7)]">Title</span></h1>
    <p class="font-bold"><span class="bg-[rgba(255,255,255,.26)]">Roles</span></p>
    <p class="md:text-xl lg:text-3xl">Text</p>
  </div>
</div>

<div class="cs-section">
  <div class="cs-content">
    <h2>Text</h2>
  </div>
</div>

<div class="cs-section bg-[#]">
  <div class="cs-content">
    <h2>Text</h2>
  </div>
</div>


<div class="not-prose">
  <ol class="big-list">
    <li><span class="number bg-[#8b6d27]">»</span> <span class="text bg-[#d7a93d]"></span></li>
    <li><span class="number bg-[#b1b1b1]">»</span> <span class="text bg-[#d5d5d5]"></span></li>
  </ol>
</div>
